:root {
  --clr-primary: #008080;
  --clr-black: #000;
  --clr-gray: #3b3838;
  --clr-white: #e6f4f1;

  --ff-primary: "Oswald", sans-serif;
  --ff-accent: "Kanit", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
}
header {
  background-color: var(--clr-primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}
#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  width: 90%;
  max-width: 1400px;
  margin: auto;
}
#navbar img {
  display: block;
  width: 5rem;
}
ul {
  display: flex;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--clr-white);
  text-transform: uppercase;
  margin-left: 0.7rem;
}
main {
  /* border: 1px solid red; */
  margin-top: 3.9rem;
}
.about--main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--clr-black);
  background-image: url("https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--clr-white);
  padding: 2rem 0;
  z-index: 3;
}
.about--main::after {
  content: " ";
  background-color: var(--clr-black);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  margin-top: 3.9rem;
  height: 100vh;
}
.about--main * {
  position: relative;
  z-index: 1;
  font-family: "Kanit", sans-serif;
  color: var(--clr-white);
  font-weight: 300;
}
.about--main h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--clr-primary);
}
.about--main h2 {
  font-size: 1.5rem;
}
.about--main p {
  margin-top: 1rem;
  font-size: 1;
}
.project-title {
  text-align: center;
  color: var(--clr-white);
  font-size: 1.2rem;
  margin-bottom: 1.5em;
}
.project-list {
  padding: 3rem 0;
  background-color: var(--clr-gray);
  /* border: 1px solid red; */
}
.project-tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.project-link {
  width: 20rem;
}
.project-link iframe {
  height: 20rem;
}
.project-link p {
  background-color: var(--clr-black);
  color: var(--clr-primary);
  text-align: center;
  margin-top: 0.3rem;
  padding: 0.7rem 0;
  border: 2px solid var(--clr-primary);
  outline: 4px solid var(--clr-black);
}
.project-link a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #008080;
  background-color: black;
  text-align: center;
  margin-top: 0.3rem;
  padding: 0.7rem 0;
  border: 2px solid #008080;
  outline: 4px solid black;
  transition: 1s;
  transition: 0.5s ease;
  border-radius: 0.2rem;
}
.project-link a:hover {
  color: var(--clr-black);
  background-color: var(--clr-primary);
  border: 2px solid black;
  outline: 4px solid #008080;
  transform: scale(1.01);
}
.project-link span {
  color: var(--clr-black);
}
.project-link p:hover {
  background-color: var(--ff-primary);
  color: var(--clr-black);
  border: 2px solid var(--clr-black);
  outline: 4px solid var(--clr-primary);
}
#profile-section {
  background-color: var(--clr-black);
  color: var(--clr-white);
  padding-block: 4rem;
  text-align: center;
}

.footer-text {
  text-align: center;
  margin-bottom: 1em;
}
.footer-text h2 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.footer-text p {
  font-size: 1rem;
  font-weight: 100;
  font-style: italic;
}
.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.socials p {
  color: var(--clr-white);
  color: var(--clr-gray);
  color: var(--clr-primary);
  font-size: 0.7rem;
}
.socials .fab {
  font-size: 2rem;
  color: var(--clr-primary);
}
.soc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  /* border: 2px solid var(--clr-primary); */
  block-size: 6em;
  inline-size: 6em;
  border-radius: 50%;
  margin: 0.7rem;
  background-color: var(--clr-white);
  background-color: var(--clr-gray);
}
.soc:hover {
  transform: translateY(8px);
  opacity: 0.7;
  /* animation: 3ms; */
}
.footer-container {
  width: 80%;
  margin: 0 auto;
}
.socials {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media (min-width: 500px) {
  .footer-container {
    width: 90%;
    margin: 0 auto;
  }
  .socials {
    display: flex;
  }
}

@media (min-width: 900px) {
  #navbar {
    padding: 1rem 0;
  }
  #navbar img {
    width: 7rem;
  }
  .nav-link {
    font-size: 1.1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    margin-left: 4rem;
  }
  /* main {
    margin-top: 5rem;
  }
  .about--main::after {
    margin-top: 5.6rem;
  } */
  .about--main h1 {
    font-size: 4rem;
  }
  .about--main h2 {
    font-size: 2.2rem;
  }
  .about--main p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  #profile-section {
    padding-block: 8rem;
  }

  .project-title {
    font-size: 1.7rem;
    margin-bottom: 2em;
  }
  .project-link iframe {
    height: 25rem;
  }
  /* .socials {
    flex-wrap: nowrap;
    margin: 3rem 0 0.4rem 0;
    border: 1px solid red;
  } */
  .footer-container {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
  }
}
